@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lobster&family=Nata+Sans:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    font-family: 'Roboto Mono';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 100;
    background-color: #0E0B1A;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 100%;
    align-items: center;
    margin: 0 auto;
    padding: 0 12px;
}

.nav-logo {
    display: flex;
    gap: 10px;
}

.nav-logo h1 {
    font-family: 'lobster';
    background: linear-gradient(to right, #F2A09F, #6D639C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 22px;
    padding-top: 3px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #F2A09F;
    font-family: 'Roboto MONO';
    font-size: 16px;
}

.nav-profile button {
    border: none;
    outline: none;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    background-color: #F2A09F;
    color: #6D639C;
    font-family: 'Roboto mono';
    font-weight: 800;
    transition: all .5s;

}

.nav-profile button:hover {
    box-shadow: inset 5em 0 0 0 #6D639C, inset -5em 0 0 0 #6D639C;
    color: white;
}

.side-bar-icon {
    display: none;
}

main {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

.hero-section  {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
    background-color: #110F24;
}

.float-img {
    position: absolute;
    width: 100px;
    animation-name: float;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.float1 {
    top: 30%;
    left: 5%;
    animation-duration: 6s;
    animation-delay: 0s;
}

.float2 {
    top: 80%;
    right: 4%;
    animation-duration: 8s;
    animation-delay: 2s;
}

.float3 {
    top: 90%;
    left: 4%;
    animation-duration: 5s;
    animation-delay: 1s;
}


.float4 {
    top: 55%;
    right: 13%;
    animation-duration: 8s;
    animation-delay: 2s;
}

.float5 {
    top: 65%;
    left: 15%;
    animation-duration: 5s;
    animation-delay: 1s;
}

.float6 {
    top: 23%;
    right: 7%;
    animation-duration: 8s;
    animation-delay: 2s;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-20px);
    }
}


.hero-section .content {

    width: 90%;
    margin: 0 auto;
    padding: 0 12px;
    top: 22%;
    position: relative;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-section .content h1 {
    display: flex;
    flex-direction: column;
    font-family: nata sans;
    font-weight: 600;
    font-size: 40px;
    color: #F2A09F;
}

.hero-section .content h1 span {
    font-family: 'lobster';
    font-weight: 200;
}

.hero-section .content h2 {
    font-size: 20px;
    color: white;
    font-family: 'Roboto mono';
    padding-top: 20px;
    margin-bottom: 40px;
}

.hero-section .content .cta-btns {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.hero-section .content .cta-btns button {
    height: 40px;
    width: 160px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #F2A09F;
    color: #6D639C;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
    font-weight: 800;
    font-size: 14px;
    transition: all .5s;
}

.hero-section .content .cta-btns button:hover {
    box-shadow: inset 10em 0 0 0 #6D639C, inset -10em 0 0 0 #6D639C;
    color: white;
}




.mentor-feature-cards {
    background-color: #110F24;
    height: 100vh;

}

.feature-section {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 100px;
}

.feature-text {
    max-width: 500px;
}

.feature-text h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: #f7f7f4;
}

.feature-text p {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #f7f7f4;
}


/* Tutor Carousel Section */
.tutor-carousel {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 40px 0;
    position: relative;
    background: transparent;
}

.tutor-track {
    display: flex;
    gap: 20px;
    animation: scrollCards 20s linear infinite;
}

.tutor-track:hover {
    animation-play-state: paused;
}

.tutor-card {
    background: #f2a09f;
    border: 2px solid black;
    border-radius: 12px;
    box-shadow: 6px 6px 0 hwb(359 57% 9% / 0.875);
    padding: 12px;
    width: 250px;
    flex-shrink: 0;
}

.tutor-card .thumb {
    background: #ebede4;
    height: 150px;
    border: 2px solid black;
    border-radius: 6px;
    margin-bottom: 8px;
    overflow: hidden;
    /* to clip overflowing image */
}

.tutor-card .thumb img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 6px;
    display: block;
}


.tutor-card .info h4 {
    font-size: 1rem;
    margin-bottom: 5px;
}

.tutor-card .info p {
    font-size: 0.85rem;
    margin-bottom: 8px;
}

.tutor-card .buy-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tutor-card .buy-row button {
    background: #ffffff;
    border: 2px solid black;
    border-radius: 6px;
    padding: 4px 8px;
    cursor: pointer;
    font-weight: bold;
}

.tutor-card .price {
    font-weight: bold;
}


header h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: white;
}

.courses-carousel {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 180px 0;
    padding-bottom: 20px;
}

.courses-cards {
    padding-top: 100px;
    background-color: #110F24;
    height: 100vh;

}

.courses-track {
    display: flex;
    gap: 20px;
    animation: scrollCourses 25s linear infinite;
}

.courses-track:hover {
    animation-play-state: paused;
}

.course-card {
    background: #f2a09f;
    border: 2px solid black;
    border-radius: 12px;
    /* Border radius kept */
    width: 230px;
    flex-shrink: 0;
    padding: 12px;
    color: #6d639c;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.course-card video {
    width: 100%;
    height: 130px;
    object-fit: cover;
    margin-bottom: 12px;
    border: 2px solid black;
    border-radius: 6px;
    /* Matches card style */
    background: black;
}

.course-card h3 {
  font-size: 1.2rem;
  margin-bottom: 8px;
  color: #110F24;
}

.course-card p {
    font-size: 0.9rem;
    margin-bottom: 12px;
    color: #5c506f;
    flex-grow: 1;
}

.course-card button {
  background: #6d639c;
  color: #110F24;
  border: none;
  padding: 8px;
  cursor: pointer;
  font-weight: 700;
  transition: background-color 0.3s;
}

.course-card button:hover {
    background-color: #4e4671;
}

@keyframes scrollCourses {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* Animation */
@keyframes scrollCards {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}


@media only screen and (max-width:991px) {

    .nav-profile,
    .nav-links {
        display: none;
    }

    .side-bar-icon {
        display: flex;
    }
}